body {
    padding: 40px;
    align-items: center;
    text-align: center;
    background-color: lightskyblue;
    color: hotpink;
    padding-top: 20%;
}
button {
    background-color: hotpink;
    color: lightskyblue;
    border: 2px solid lightpink;
    border-radius: 5px;
}
.lastlist li{
list-style-type: none;
}
#but{
    height: 40px;
    width: 20%;
    border-radius: 5px;
}
#to-do-input {
    width: 20%;
    height: 40px;
}